/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Bebas Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif" sans-serif;
	background-color: #FFFFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #2B2727;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF
}

.container{
	width: 60%;
	align-content: space-between;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.color {
	background-color: #020202;
}