/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */
header {
	background-color: #2B2727;

}

body {
	font-family: Bebas Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif" sans-serif;
	background-color: #FFFFFF;

}

/* Changing the background colour for the header */


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF
}

.container > div{
	width: 80%;
	height: 80%;
	align-content: space-between; 
}
.container{
	display: contents;
	justify-content: space-between
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.color {
	background-color: #020202;
}
